app.log


bin
logs
project/project
project/.idea
project/target
project/activator*
target
test-output
tmp
.history
dist
**/.idea
/*.iml
/out
/.idea_modules
/.cache
/.classpath
/.project
/RUNNING_PID
/.settings




#OS X

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
